<div class="section">

    <h1>Surveillance</h1>

    <div class="video-container">

        <video autoplay loop muted>
            <source src="/static/video.mp4" type="video/mp4">
        </video>
    </div>
<body>
    <div class="container">
        <a href="/index">
            <button class="btn">VIDEO</button>
        </a>
        <a href="/index2">
            <button class="btn1">GO LIVE!</button>
        </a>
    </div>
</body>

</div>
<div style="height:400px;width:100%">
    
</div>

<style>

.section {
position: fixed;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}

.section h1 {
display: block;
text-align: center;
font-size: 6rem;
font-family: 'Trebuchet MS', sans-serif;
font-weight: 100;
font-stretch: ultra-condensed;
background:white;
padding: 20px;
margin: 15px;
z-index: 1;
opacity: 0.7;
}

.video-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.container {
position: absolute;
top: 65%;
display: block;
text-align: center;
z-index: 1;
}

.btn {
width: 175px;
height: 75px;
border: none;
color: black;
background-color: white;
box-shadow: inset 0 0 0 0 #0059ff;
transition: ease-out 0.4s;
font-size: 2rem;
outline: none;
}

.btn:hover {
box-shadow: inset 175px 0 0 0 #0059ff;
cursor: pointer;
color:white;
}

.btn1 {
width: 175px;
height: 75px;
border: none;
color: black;
background-color: white;
box-shadow: inset 0 0 0 0 red;
transition: ease-out 0.4s;
font-size: 2rem;
outline: none;
}

.btn1:hover {
box-shadow: inset 175px 0 0 0 red;
cursor: pointer;
color:white;
}

</style>