<!DOCTYPE html>
<html>
<head>
 <title></title>
 <meta charset="utf-8" />
</head>
<body>
    <h1>Surveillance Analysis</h1> 
<div class="a">
    <img src="static/Mask.png"alt="error loading image1"/>
</div>

<div class="b">
    <img src="static/Social.png"alt="error loading image2"/>
</div>

<div class="c">
    <img src="static/MaskBar.png"alt="error loading image3"/>
</div>

<div class="d">
    <img src="static/Total.png"alt="error loading image4"/>
</div>    
   
</body>
</html>

<style>

body
{
    background-color: black
}

h1
{
    color: white;
}

.a 
{
    top: 50%;
    left:5%;
}

.b 
{
    bottom: 20%;
    left:5%;
}

.c 
{
    top: 20%;
    right:5%;
}

.d 
{
    bottom: 20%;
    left:5%;
}



</style>